*{
    box-sizing: border-box;
}
header{
   border: 2px solid red;
   width: 90vw;
    margin: auto;
}
img{
    width: 60px;
    display: block;
    margin: auto;
}
h3 {
    text-align: center;
}
.box{
    border: 4px solid black;
    background-color: gray;
    margin: 4px 0px;
    padding:23px;
    width: 400px;
    display: inline-block;
    
}
.container{
    margin: auto;
width: 90vw;  
flex-wrap: wrap;  
justify-content: space-around;
}